$color-white: #f6f9fc;
$color-light-grey: #f6f9fc;
$color-mid-grey: #999999;
$color-dark-grey: #666666;
$color-black: #000000;

$color-red-step1: #635bff;
$color-red-step2: #635bff;
$color-red-step3: #635bff;
$color-red-step4: #635bff;
$color-red-step5: #80e9ff;

$color-yellow: #635bff;
$color-blood-orange: #ffbb00;
$color-shadow: rgba($color-black, 0.2);

// body
$color-text-light: $color-white;
$color-text-dark: $color-black;
$color-link: rgba($color-white, 0.8);
$color-link-hover: rgba($color-white, 0.9);

// title
$color-title-border: darken($color-yellow, 1%);

// button
$color-button-text: $color-white;
$color-button-default-background: $color-yellow;
$color-button-default-hover-background: lighten($color-yellow, 5%);
$color-button-danger-background: $color-blood-orange;
$color-button-danger-hover-background: lighten($color-blood-orange, 5%);

// slot
$color-slot-background: $color-yellow;
$color-slot-shadow: $color-shadow;
$color-slot-inner-background: $color-white;
$color-slot-text: darken($color-yellow, 5%);

// settings
$color-settings-mask: rgba($color-black, 0.6);
$color-settings-background: darken($color-red-step5, 8%);

// textarea
$color-input-background: $color-light-grey;
$color-input-placeholder: $color-mid-grey;
$color-input-text: $color-black;

// switch
$color-switch-handle-disabled: $color-dark-grey;
$color-switch-handle: darken($color-red-step5, 8%);
